.NewPostModal__caption-box {
  display: block;
  width: 100%;
}

.NewPostModal__input {
  width: 100%;
}

.NewPostModal__submit {

}

.NewPostModal__step-two-main-container {
  margin-bottom: 80px;
}

.NewPostModal__caption-location-container {
  padding-top: 40px;
}

.NewPostModal__fileButton {
  display: block;
  width: 100%;
  color: #3a3a3a;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.NewPostModal__button,
.NewPostModal__button:hover {
  display: block;
  width: 100%;
  background-color: #3897f0;
  border-color: #3897f0;
  color: white;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.NewPostModal__button:disabled {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
  cursor: not-allowed;
  color: #fafafa;
}