
.Profile__user-info-container {
  padding: 40px 0;
  display: flex;
}

.Profile__root {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Profile__photogrid-root {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Profile__avatar-img-wrapper {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  border: 3px solid #d8d6d6;
  border-radius: 50%;
}

.Profile__avatar-img {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.Profile__txt {
  display: block;
  margin-left: 8em;
}

.Profile__username {
  font-size: 45px;
  margin-right: 10px;
  font-family: 'Pacifico', cursive;
}

.Profile__btns .Profile__button {
  display: inline-block;
  border: none;
}

.Profile__button i {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  text-transform: none;
  letter-spacing: .1px;
}

.Profile__edit-button a:hover {
  color: #999;
}

@media only screen and (max-width: 750px) {
  
}
