.SignIn__form-wrapper {
  background-color: white;
  border: 1px solid #dbdbdb;
  margin-top: 10vh;
  padding: 30px;
  text-align: center;
}

.signIn__link  {
  text-decoration: none;
  color: #999;
}
